.admin_menu{
    display: flex;
    flex-wrap: wrap;
}
.admin_menu a{
    display: block;
    text-decoration: none;
}
.admin_menu_card{
    aspect-ratio: 4 / 3;
    width: 50%;
}
.admin_menu_card>a{
    position: relative;
    height: 100%;
}
.admin_menu_card>a>div{
    position: absolute;
}
.admin_menu_card>a>div:first-child{
    bottom: 10%;
    left: 10%;
    z-index: 2;
}
.logout button{
    padding: 5px 30px;
    border: none;
    box-shadow: 1px 1px 5px #c0c0c0;
    border-radius: 5px;
    background-color: rgb(193, 241, 255);

}