.bridal_card_D span{
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
}
.bridal_line_A>div{
    background: #ffffff;
    z-index: 2;
    text-align: center;
}
.bridal_line_A>div>p{
    font-size: 13px;
}
.bridal_line_A>div>p:nth-child(2n){
    margin-top: 2px;
}
.detail_bridal_B{
    width: 80%;
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #EEF1FF;
    justify-content: center;
    border-radius: 15px;
}
.detail_bridal_B>p{
    line-height: 20px;
    padding: 10px;
}
.bridal_line_C>div{
    background: #ffffff;
    z-index: 2;
    text-align: center;
}
.bridal_line_C>div>p{
    font-size: 13px;
}
.bridal_D_menu{
    position: relative;
    margin: 30px 0 30px;
}
.bridal_D_menu::after{
    position: absolute;
    content: '';
    top: 1.45em;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
    background-color: #D7D2CA;
}
.bridal_D_menu>div{
    padding-right: 5px;
    background-color: #fff;
    z-index: 2;
}
.bridal_D_menu>div>p{
    margin: 2px 10px 0;
    font-size: 13px;
}
.bridal_D_menu b,
.bridal_D_menu>p{
    z-index: 2;
    padding: 5px 10px 0 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}


/* admin */
.admin_bridal_hide{
    display: none;
}
.admin_bridal_D_menu{
    position: relative;
    margin: 30px 0 30px;
}
.admin_bridal_D_menu::after{
    position: absolute;
    content: '';
    top: 2.5em;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
    background-color: #D7D2CA;
}
.admin_bridal_D_menu>div{
    padding-right: 5px;
    background-color: #fff;
    z-index: 2;
}
.admin_bridal_D_menu>div>p{
    margin: 2px 10px 0;
    font-size: 13px;
}
.admin_bridal_D_menu b,
.admin_bridal_D_menu>p{
    z-index: 2;
    padding: 5px 10px 0 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}