/* All */
.men{
    background-color: #BCEAD5;
}
.women{
    background-color: #F8C4B4;
}
.both{
    background-color: #D2DAFF;
}
.campaign_ul{
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ACACAC;
}
.campaign_ul_first{
    width: 80%;
    margin: 5px auto;    
}
.campaign_ul_first>a{
    text-decoration: none;
}
.campaign_ul_first>a>span{
    border: 1px solid #c0906b;
    border-radius: 15px;
    font-size: 10px;
    padding: 0 5px;
    background-color: #FFC090;
}
.campaign_ul_second{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.campaign_ul_second>p:first-child{
    display: flex;
    align-items: center;
}
.campaign_ul_second>p:last-child{
    border-radius: 15px;
    padding: 5px 10px;
}

/* admin_update */
.admin_campaign_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin_campaign_title>input{
    height: 30px;
    margin-left: 10px;
    width: 70%;
    text-align: center;
}
.admin_campaign>div{
    margin: 10px;
    align-items: center;
}
.admin_campaign_title>input,
.admin_campaign input,
.admin_campaign select,
.admin_campaign_detail textarea{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c0c0c0;
}
.admin_campaign input,
.admin_campaign select{
    height: 30px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
}
.admin_campaign_detail_title{
    padding: 10px 0;
}
.admin_campaign_detail{
    width: 90%;
    margin: 20px auto;
}
.admin_campaign_detail textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
}


/* Campaign.blade */
.campaign>div{
    margin: 10px;
}
.campaign>div>p{
    border-radius: 15px;
    padding: 10px;
}
.campaign_term>p{
    background-color: #FFFAD7;
}
.campaign_detail>p{
    width: 90%;
    border: none;
    box-shadow: 1px 1px 5px #c0c0c0;
    margin: 10px auto;
}

/* admin_add */
.admin_add_form_date input{
    margin-right: 5px;
}