.depilation_img{
    width: 50%;
    height: 100%;
    position: relative;
}
.depilation_img:hover{
    cursor: pointer;
    opacity: 0.7;
}
.depilation_img>div{
    position: relative;
    width: 100%;
    height: 100%;
}
.depilation_img>div::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10px 15px #F0EBE3;
}
.depilation_img h2{
    display: inline-block;
    color: #fff;
    background-color: #ACACAC;
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
}

.depilation_genre--select{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.depilation_genre--select>div{
    width: 40%;
    position: relative;
    margin: 10px;
}
.depilation_genre--select>div::after{
    position: absolute;
    content: '';
    top: 0.95em;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
    background-color: #D7D2CA;
}
.depilation_genre--select>div b,
.depilation_genre--select>div p{
    z-index: 2;
    padding: 5px 10px 0 5px;
    background-color: #fff;
}

.select_title{
    display: inline-block;
}
.select_checkbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.select_label{
    position: relative;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 15px;
}
.select_label:hover{
    cursor: pointer;
    opacity: 0.7;
}
.select_label.active{
    background-color: #ACACAC;
    color: #fff;
    border: 1px solid #ACACAC;
}
.select_input{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    top: -5px;
    left: -5px;
    display: none;
}
.select_text{
    width: 70%;
    margin: auto;
}
.select_text>b,
.select_text>p{
    font-size: 20px;
}
