.esthetic_img{
    width: 50%;
}

.esthetic_card--hifu{
    width: 50%;
}

.detail_one{
    text-align: center;
}
.detail_one>h5{
    display: inline-block;
    line-height: 30px;
    padding: 10px;
    word-wrap: keep-all;
    background-color: #EEF1FF;
    border-radius: 15px;
}

