.women_menu{
    display: flex;
    flex-wrap: wrap;
}
.women_menu a{
    display: block;
    text-decoration: none;
}
.women_menu_card{
    width: 50%;
    aspect-ratio: 4 / 3;
}
.women_menu_card>a{
    position: relative;
    height: 100%;
}
.women_menu_card>a>div{
    position: absolute;
}
.women_menu_card>a>div:first-child{
    bottom: 15%;
    left: 10%;
    z-index: 2;
    font-size: 13px;
}