/* user_card */
.user_card{
    width: 700px;
    margin: auto;
}
/* --------------------------------- */

/* stuff_card */
.stuff_cards{
    width: 700px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c0c0c0;
}
.stuff_cards>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.stuff_card{
    width: 30%;
    margin: 10px;
    border: 1px solid black;
}
.stuff_card>div{
    width: 100%;
}
.stuff_card>div>img{
    width: 100%;
    aspect-ratio: 3 / 4;
}
.stuff_card>h3{
    padding: 10px;
    display: flex;
    align-items: center;
}
.stuff_card>h3>a{
    width: 20px;
    margin-right: 5px;
}
.stuff_card>h3>a img{
    width: 100%;

}
.stuff_card>p{
    width: 90%;
    margin: 10px auto;
}
/* --------------------------------- */

.users{
    display: flex;
    white-space:nowrap;
    overflow:auto;
}
.user{
    border: 1px solid #999;
    margin: 10px;
    width: 200px;
    height: 100%;
}
.admin_users{
    display: flex;
    flex-wrap: wrap;
}
.user{
    width: 200px;
    margin: 20px;
    border: 0.5px solid black;
}
.user>div{
    width: 100%;
    height: auto;
}
.user img{
    width: 100%;
    aspect-ratio: 3 / 4;
}
.user>h3{
    text-align: center;
    padding: 10px;
    background-color: #F3F3F3;
}
.user>p{
    padding: 10px;
}

/* user_add_card */
.user_add_card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c0c0c0;
    width: 700px;
    margin: 20px auto;
}
.user_add_card>h2{
    text-align: center;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background-color: #cbcbcb;
    color: #fff;
}
.user_add_input{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.user_add_card>form{
    padding-top: 10px;
}
.user_add_input>input{
    height: 30px;
    margin-left: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c0c0c0;
    text-align: center;
}
.user_add_textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_add_textarea>h3{
    color: #bbbbbb;
}
.user_add_textarea>textarea{
    height: 100px;
    padding: 5px;
    margin-top: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c0c0c0;
}
.user_add_card>form>div:last-child{
    text-align: center;
}
.user_add_card>form>div:last-child button{
    padding: 5px 30px;
    border: none;
    box-shadow: 1px 1px 5px #90f39f;
    border-radius: 5px;
    background-color: #deffd7;
    margin: 10px;
}
/* ------------------------------------------ */

/* user_update_card */
    .user_update_card{
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #c0c0c0;
        width: 700px;
        margin: 20px auto;
    }
    .user_update_card>form{
        padding-top: 10px;
    }
    .user_update_card>div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px 5px 0 0;
        background-color: #CBCBCB;
    }
    .user_update_card>div>h2{
        padding: 20px;
        text-align: left;
        color: #fff;
    }
    .user_update_card>div>a{
        width: 20px;
        margin-right: 20px;
    }
    .user_update_card>div>a>img{
        width: 100%;
    }
    .user_update_input{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .user_update_input>input{
        height: 30px;
        margin-left: 10px;
        width: 250px;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #c0c0c0;
        text-align: center;
    }
    .user_update_textarea{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user_update_textarea>h3{
        color: #bbbbbb;
    }
    .user_update_textarea>textarea{
        height: 100px;
        padding: 5px;
        margin-top: 10px;
        width: 80%;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #c0c0c0;
    }
    .user_update_card>form>div:last-child{
        text-align: center;
    }
    .user_update_card>form>div:last-child button{
        padding: 5px 30px;
        border: none;
        box-shadow: 1px 1px 5px #90f39f;
        border-radius: 5px;
        background-color: #deffd7;
        margin: 10px;
    }
/* ---------------------------------------- */


@media screen and (max-width:769px){
    .user_card,
    .stuff_cards,
    .user_update_card,
    .user_add_card{
        width: 80%;
    }
    .stuff_card{
        width: 150px;
    }
}

@media screen and (max-width:415px) {
    .user_card,
    .stuff_cards,
    .user_update_card,
    .user_add_card{
        width: 90%;
    }
}