/* top----------------------------------------------------------- */
.top{
    width: 100%;
}
.top>div{
    position: relative;
}
.shop_pictures{
    width: 100%;
    aspect-ratio: 4 / 3;
}
.shop_pictures>div{
    position: absolute;
    width: 100%;
    height: 100%;
}
.shop_pictures>div:not(:first-child){
    opacity: 0;
    display: flex;
    align-items: center;
}
.shop_pictures img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top_day{
    position: absolute;
    width: 35%;
    opacity: 2;
    background-color: #CCCCCC;
    bottom: 10px;
    left: 10px;
    padding: 5px;
}
.top_day>h2{
    font-size: 13px;
    text-align: center;
}
.top_day>p{
    font-size: 10px;
    margin: 5px;
    text-align: center;
}
.top_day button{
    width: 100%;
    border-radius: 15px;
    border: 0.5px solid black;
    padding: 5px;

}

/* ハンバーガーメニュー */
.menu_humbergar {
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    cursor: pointer;
    border: 1px solid black;
    border-radius:50%;
    z-index: 2;
    top: 100px;
    right: 30px;
    margin-left: auto;
}
.menu_humbergar > span {
    display: block;
    height: 5%;
    background-color: black;
    position: absolute;
    transition: 0.2s;
}
.menu_humbergar_bar--top {
    width: 50%;
    left:25%;
    top:15px;
}
.menu_humbergar_bar--middle {
    top: 50%;
    left:25%;
    width: 50%;
    transform: translate(0, -50%);
}
.menu_humbergar_bar--bottom {
    width: 50%;
    bottom: 15px;
    left:25%;
}
.menu_humbergar.active span:nth-child(1) {
    transform: rotate(45deg);
    width: 50%;
    top: 50%;
}
.menu_humbergar.active span:nth-child(2) {
    opacity: 0;
}
.menu_humbergar.active span:nth-child(3) {
    transform: rotate(-45deg);
    width: 50%;
    top: 50%;
}

/* マスク */
.mask {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    transition: 0.5s;
    z-index: -1;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mask.active {
    left: 0;
    z-index: 1;
}
.mask-menu__lists li{
    margin: 10px;
}
.mask-menu__lists a{
    text-decoration: none;
    color: black;
}

/* category----------------------------------------------------- */
.category{
    z-index: 10;
}
.category_title{
    text-align: center;
    padding: 40px;
}

/* menu------------------------------------ */
.menu_sex{
    width: 50%;
    aspect-ratio: 4 / 3;
}
.menu_sex>a{
    display: block;
    position: relative;
    height: 100%;
    text-decoration: none;
}
.menu_sex>a>div{
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu_sex>a>p{
    position: absolute;
    padding: 10px;
    transform: translateX(-50%);
    color: black;
    z-index: 3;
    left: 25%;
    bottom: 15%;
}
